services:
  pangolin-autonet-watcher:
    image: ghcr.io/shanelord01/pangolin-autonet-watcher:latest
    container_name: Pangolin_Autonet_Watcher
    restart: unless-stopped
    networks:
      - default
    environment:
      AUTONET_1_KEY: com.pangolin.autonet
      AUTONET_1_NET: pangolin

      LABEL_ALIAS_KEY: com.pangolin.autonet.alias

      INITIAL_ATTACH: "true"
      INITIAL_RUNNING_ONLY: "false"
      AUTO_DISCONNECT: "true"
      AUTONET_RESCAN_SECONDS: "30"
      # AUTONET_DEBUG: "true"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
